$color1: #2f3242;

$color2: #2b2d3c; 

$color3: #2196f3; //main color

$color4: #9ca1b2;

$color5: white; //regular text

$color6: #404359;

$color7:  #3a3e52; //uses in table header

$color8:#9ea3b4;

//progress, project
$color9:#4caf50;